body{
    background-color:pink;
    overflow: hidden;
    align-items: center;
}

.login_box{
    background-color: white;
    width:400px;
    height:200px;
    text-align:center;
    margin:auto;
    display:flex;
}

.box{
    align-items: center;
}

.line{
    height: 100%;
}

.login_item{
    display: inline;
}
.login_item:focus{
    box-shadow: none;
}

.login_idbox{
    margin-left:20px;
}