body{
    padding:100px 0 0 0;
}

.board_box{
	background-color: white;
	display:flex;
    width:75%;
	height: 24px;
	padding: 10px;
	border-radius: 10px;
	border:2px solid green;
    margin:10px auto;
}

.board_box_text{
	font-size:22px;
	margin:0px 5px 0px 10px;
	align-items:center;
	display:flex;
}

.img_size{
	width: 24px;
	height: 24px; 
}

