*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    position:relative;
    min-height:100vh;
    width:100%;
}

main{
    position:absolute;
    height:100%;
    width:calc(100%-78px);
    transition: all 0.5s ease;
    left:78px;
    margin: 20px 0 0 20px;
    display:flex;
}

a{
    text-decoration: none;
    color:black;
}

.sidebar{
    height:100%;
    width:78px;
    background:#5C000D;
    position:fixed;
    top:0;
    left:0;
    padding:6px 14px;
    transition:all 0.5s ease;
}

.open{
    width:240px;
}
.open .logo{
    opacity:1;
    pointer-events: none;
}
.open .menu_button{
    left:90%;
}
.open .popup{
    display:none;
}
.open .nav_text{
    opacity: 1;
    pointer-events: auto;
    transition:none;
}
.open .nav_a{
    padding-left: 20px;
}
.open .nav_list:hover .popup{
    display:none;
}
.open ~ main{
    left:240px;
    width:calc(100%-240px);
}

.logo{
    display:flex;
    height:50px;
    width:100%;
    align-items: center;
    color:white;
    opacity:0;
    transition:all 0.5s ease;
    pointer-events: none;
}

.logo_title{
    font-size:28px;
    font-weight:400;
}

.menu_button{
    display:inline;
    position:absolute;
    left:50%;
    top:6px;
    padding:15px 0 0 0;
    width:25px;
    text-align: center;
    line-height: 50px;
    transform:translate(-50%)
}

.button{
    width:20px;
    padding-right: 20px;
    text-align: center;
    min-width: 50px;
}

.nav_panel{
    margin-top:20px;
}

.nav_list{
    height:50px;
    width:100%;
    list-style:none;
    position:relative;
    margin:0;
    line-height: 50px;
}
.nav_list:hover .popup{
    transition:all 0.5s ease;
    top: 50%;
    display:inline;
    opacity:1;
}

.nav_a{
    color:white;
    display:flex;
    align-items: center;
    text-decoration: none;
    transition:all 0.4s ease;
    border-radius: 12px;
    padding-left: 10px;
    white-space: nowrap;
}
.nav_a:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}

.nav_text{
    font-size: 18px;
    opacity:0;
    pointer-events: none;
    transition:all 0.5s ease;
}

.popup{
    position:absolute;
    height:35px;
    left:122px;
    top:50%;
    width:122px;
    background:white;
    box-shadow:0 5px 10px #bcbcbc;
    transform:translate(-50%,-50%);
    line-height:35px;
    text-align:center;
    border-radius:6px;
    transition:0s;
    opacity:0;
    display:none;
}
