.topbar{
    background-color: white;
    height: 21px;
    padding: 25px 50px;
    color: black;
    font-weight: bold;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 0px 5px #808080;
    display:flex;
    z-index: 1;
}

a{
    text-decoration:none;
    color:black;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
}

.class_btn{
    margin: 0 0px 0 20px;
}

.nav_btn{
    width:100px;
    display:inline-block;
}
.nav_btn:hover{
    background-color: #cccccc;
    cursor:pointer;
}

.logout_btn{
    width:100px;
    display:inline-block;
}
.logout_btn:hover{
    background-color: #cccccc;
    cursor:pointer;
}

.btn_text{
    font-size:18px;
    padding: 25px 10px;
    margin:0;
}

.back:hover{
    cursor: pointer;
}

.back_img{
    margin:5px 0 0 0;
    width: 30px;
	height: 30px; 
}